/* #container .child{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
} */
/* div {
    background-color: rosybrown;
    height: 300px;
    width: 200px;
}
div:hover {
    background-color: aquamarine;
    transition: linear 1s;
} */